.feedback-container {
    width: 91vw;
    height: 80vh;
    display: flex;
    background-color: white;
    flex-direction: column;

    .presentation-name {
        font-size: 17px;
        padding: 10px;
        margin: 0 auto;

        strong {
            font-size: 20px;
            color: #ff1060;
            border-bottom: 2px solid #ff1060;
        }
    }

    .presentation-opnion {
        margin: 50px auto 10px;
        font-size: 24px;
        font-weight: bold;
        color: #555;
    }

    .feedback-loading {
        margin: auto;
        display: flex;
        flex-direction: column;

        h1 {
            margin: auto auto 20px;
        }

        .ant-spin-dot-item {
            background-color: #ff1060 !important; 
        }
    }
}