@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif !important;
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  -webkit-font-smoothing: antialiased !important;
}

html.touch *:hover {
  all:unset!important;
  pointer-events: none !important;
}

button{
  outline: none;
}